//$map: (
//Thin: 100,
// ExtraLight: 200,
//  Light: 300,
//  Regular: 400,
//  Medium: 500,
//  ExtraBold: 800,
//  Bold: 700,
//  Black: 900
//);
//
//@each $name, $weight in $map {
//  @font-face {
//    font-family: 'TT Norms Pro';
//    font-style: normal;
//    font-weight: $weight;
//    src: local('TT Norms Pro #{$name}'), local('./../../static/fonts/TTNormsPro-#{$name}.woff2'),
//    url('~st/fonts/TTNormsPro-#{$name}.woff2') format('woff2'), /* Super Modern Browsers */
//    url('./../../static/fonts/TTNormsPro-#{$name}.woff') format('woff'), /* Modern Browsers */
//    url('./../../static/fonts/TTNormsPro-#{$name}.ttf') format('truetype'); /* Safari, Android, iOS */
//  }
//}
// resolve-url-laoder отказался кушать рещзультат этого @each, прогнал через SassMeister просто, мало времени, чтобы разбираться с лаодером.
@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 100;
  src: local('TT Norms Pro Thin'), url('~st/fonts/TTNormsPro-Thin.woff2') format('woff2'), url('~st/fonts/TTNormsPro-Thin.woff') format('woff'), url('~st/fonts/TTNormsPro-Thin.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 200;
  src: local('TT Norms Pro ExtraLight'), url('~st/fonts/TTNormsPro-ExtraLight.woff2') format('woff2'), url('~st/fonts/TTNormsPro-ExtraLight.woff') format('woff'), url('~st/fonts/TTNormsPro-ExtraLight.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 300;
  src: local('TT Norms Pro Light'), url('~st/fonts/TTNormsPro-Light.woff2') format('woff2'), url('~st/fonts/TTNormsPro-Light.woff') format('woff'), url('~st/fonts/TTNormsPro-Light.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 400;
  src: local('TT Norms Pro Regular'), url('~st/fonts/TTNormsPro-Regular.woff2') format('woff2'), url('~st/fonts/TTNormsPro-Regular.woff') format('woff'), url('~st/fonts/TTNormsPro-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 500;
  src: local('TT Norms Pro Medium'), url('~st/fonts/TTNormsPro-Medium.woff2') format('woff2'), url('~st/fonts/TTNormsPro-Medium.woff') format('woff'), url('~st/fonts/TTNormsPro-Medium.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 800;
  src: local('TT Norms Pro ExtraBold'), url('~st/fonts/TTNormsPro-ExtraBold.woff2') format('woff2'), url('~st/fonts/TTNormsPro-ExtraBold.woff') format('woff'), url('~st/fonts/TTNormsPro-ExtraBold.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 700;
  src: local('TT Norms Pro Bold'), url('~st/fonts/TTNormsPro-Bold.woff2') format('woff2'), url('~st/fonts/TTNormsPro-Bold.woff') format('woff'), url('~st/fonts/TTNormsPro-Bold.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 900;
  src: local('TT Norms Pro Black'), url('~st/fonts/TTNormsPro-Black.woff2') format('woff2'), url('~st/fonts/TTNormsPro-Black.woff') format('woff'), url('~st/fonts/TTNormsPro-Black.ttf') format('truetype');
  /* Safari, Android, iOS */
}
