$grey2: #E9EDF2;
$grey3: #D2D8DE;
$grey4: #B7C0C8;
$grey5: #656B77;
$grey10: #7D8790;

$dark: #35383D;;

$blue2: #398BFF;

$white: #fff;
$black: #000;

$income: #F6F7F9;
$incomeText: #475453;
$outcome: #E9F5F4;
$outcomeText: #474E54;

$error: #D8000C;

$main-font: TT Norms Pro, sans-serif;
$desktop-width: 768px;

$transition: cubic-bezier(.25,.59,.9,.47) 0.7s;
